<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://melinews.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>melinews.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>melinews</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$melinews</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=melinewsserver.database.windows.net;Initial Catalog=martinmeli_ep;User ID=a100365;Password=Dickbutt69" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MartinMeli_EP.Models.UsersContext, MartinMeli_EP" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="martinmeli_epEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=melinewsserver.database.windows.net;Initial Catalog=martinmeli_ep;User ID=a100365;Password=Dickbutt69" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Data.martinmeli_epEntities, Database" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=melinewsserver.database.windows.net;Initial Catalog=martinmeli_ep;User ID=a100365;Password=Dickbutt69</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)martinmeli_epEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AzureModel.csdl|res://*/AzureModel.ssdl|res://*/AzureModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=melinewsserver.database.windows.net;Initial Catalog=martinmeli_ep;User ID=a100365;Password=Dickbutt69"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>